/* Topic List Styling */
#topic-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#topic-list li {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#topic-list li:hover {
    background-color: #ffffff;
}

